# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env

# Build
build/
dist/
*.egg-info/

# OS
Thumbs.db
.DS_Store